.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.btn-remove {
  background-color: darksalmon;
}

.active-filter {
  background-color: orange;
}

.error {
  border: red 2px solid;
  outline: transparent;
}